USE [master]
GO
/****** Object:  Database [DISCOS_DB]    Script Date: 21/7/2024 21:58:28 ******/
CREATE DATABASE [DISCOS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DISCOS_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DISCOS_DB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DISCOS_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DISCOS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DISCOS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DISCOS_DB]
GO
/****** Object:  Table [dbo].[DISCOS]    Script Date: 21/7/2024 21:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DISCOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Titulo] [varchar](100) NULL,
	[FechaLanzamiento] [smalldatetime] NULL,
	[CantidadCanciones] [int] NULL,
	[UrlImagenTapa] [varchar](200) NULL,
	[IdEstilo] [int] NULL,
	[IdTipoEdicion] [int] NULL,
	[IdSegundoEstilo] [int] NULL,
	[Activo] [bit] NULL,
 CONSTRAINT [PK_DISCOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ESTILOS]    Script Date: 21/7/2024 21:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ESTILOS](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](100) NULL,
 CONSTRAINT [PK_ESTILOS] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TIPOSEDICION]    Script Date: 21/7/2024 21:58:28 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TIPOSEDICION](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Descripcion] [varchar](50) NULL,
 CONSTRAINT [PK_TIPOSEDICION] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DISCOS] ON 

INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion], [IdSegundoEstilo], [Activo]) VALUES (1, N'Pablo Honey', CAST(N'1992-01-01T00:00:00' AS SmallDateTime), 12, N'https://cdns-images.dzcdn.net/images/cover/f08424290260e58c6d76275253b316fd/264x264.jpg', 2, 1, 3, 1)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion], [IdSegundoEstilo], [Activo]) VALUES (2, N'Siempre es hoy', CAST(N'2002-01-01T00:00:00' AS SmallDateTime), 17, N'https://images.genius.com/942917978fde1275857f6eafe3ba4990.600x600x1.jpg', 3, 3, 1, 1)
INSERT [dbo].[DISCOS] ([Id], [Titulo], [FechaLanzamiento], [CantidadCanciones], [UrlImagenTapa], [IdEstilo], [IdTipoEdicion], [IdSegundoEstilo], [Activo]) VALUES (18, N'D4VD', CAST(N'2022-09-07T00:00:00' AS SmallDateTime), 32, N'https://www.nme.com/wp-content/uploads/2023/05/D4VD-1-latest-credit-Jonathan-Weiner-for-NME@2160x2700.jpg', 2, 2, 3, 1)
SET IDENTITY_INSERT [dbo].[DISCOS] OFF
GO
SET IDENTITY_INSERT [dbo].[ESTILOS] ON 

INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (1, N'Pop Punk')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (2, N'Pop')
INSERT [dbo].[ESTILOS] ([Id], [Descripcion]) VALUES (3, N'Rock')
SET IDENTITY_INSERT [dbo].[ESTILOS] OFF
GO
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] ON 

INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (1, N'Vinilo')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (2, N'CD')
INSERT [dbo].[TIPOSEDICION] ([Id], [Descripcion]) VALUES (3, N'Tape')
SET IDENTITY_INSERT [dbo].[TIPOSEDICION] OFF
GO
ALTER TABLE [dbo].[DISCOS] ADD  CONSTRAINT [DF_DISCOS_Activo]  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[DISCOS]  WITH CHECK ADD  CONSTRAINT [FK_DISCOS_DISCOS] FOREIGN KEY([Id])
REFERENCES [dbo].[DISCOS] ([Id])
GO
ALTER TABLE [dbo].[DISCOS] CHECK CONSTRAINT [FK_DISCOS_DISCOS]
GO
USE [master]
GO
